section.article {
  width: 100vw;
  height: 100vh;
  display: flex;
  max-width: 100vw;
  min-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

section.article form {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

section.article form input,
section.article form button {
  width: 100%;
  height: 20%;
  font-size: 30px;
  max-width: 100%;
  min-width: 100%;
  max-height: 20%;
  min-height: 20%;
}

section.article form textarea {
  width: 100%;
  resize: none;
  max-width: 100%;
  min-width: 100%;
}

section.article form textarea.textarea {
  height: 80vh;
  max-height: 80vh;
  min-height: 80vh;
}

section.article form textarea.description {
  height: 20vh;
  max-height: 20vh;
  min-height: 20vh;
}

section.article form div.wrap-buttons {
  width: 45%;
  display: flex;
  max-width: 45%;
  min-width: 45%;
  justify-content: space-between;
}

section.article form .ant-row.ant-form-item {
  margin: 0;
  width: 45%;
  max-width: 45%;
  min-width: 45%;
}

section.article form .ant-row.ant-form-item.buttons {
  width: auto;
  min-width: auto;
  max-width: auto;
}

section.article form .ant-form-item-control {
  text-align: center;
}

section.article form .save,
section.article form .cancel {
  width: 60px;
  height: 60px;
  display: flex;
  font-size: 40px;
  max-width: 60px;
  min-width: 60px;
  max-height: 60px;
  min-height: 60px;
  align-items: center;
  justify-content: center;
}

section.article form .save i,
section.article form .cancel i {
  max-width: 40px;
  max-height: 40px;
}

aside.art div.wrap-buttons {
  width: 70%;
  display: flex;
  max-width: 70%;
  min-width: 70%;
  margin-bottom: 10px;
  justify-content: space-between;
}

aside.art div.wrap-buttons button {
  width: 60px;
  height: 60px;
  display: flex;
  font-size: 40px;
  max-width: 60px;
  min-width: 60px;
  max-height: 60px;
  min-height: 60px;
  align-items: center;
  justify-content: center;
}

aside.art div.wrap-buttons button i {
  max-width: 40px;
  max-height: 40px;
}

@media only screen and (max-width: 755px) {
  section.article form {
    flex-direction: unset;
  }
  section.article form textarea.textarea {
    height: 20vh;
    max-height: 20vh;
    min-height: 20vh;
  }
  section.article form div.wrap-buttons {
    width: 95%;
    margin: 5px 0;
    max-width: 95%;
    min-width: 95%;
  }
  section.article form .ant-row.ant-form-item {
    width: 95%;
    margin: 5px 0;
    max-width: 95%;
    min-width: 95%;
  }
}
